.top-chart
  height: 120px
.side-chart
  margin-left: 8px
  flex: 1
  width: 300px
  &:not(:last-child)
    margin-bottom: 8px
.table
  .transaction-table
    border: none
.ReactTable
  font-family: Open Sans
  font-size: 0.9em
  .rt-thead
    &.-header
      box-shadow: none
      background-color: $lightgray-light
      color: $primary-dark-blue
.recharts-rectangle
  fill: $primary-light-blue
.card
  .card-body
    &:last-child
      padding-bottom: 0
.recharts-layer
  &.recharts-brush
    margin-top: 10px
svg
  font-size: 10px
.stat
  color: $darkgray-light
  .big
    font-size: 3em
    font-weight: bold
  .sub
    font-size: 2em
.ReactTable 
  margin: 4px
  .rt-thead .rt-th.-cursor-pointer, .rt-thead .rt-td.-cursor-pointer
    border: $default-border
    &:focus
      outline: none